<div class="header border-bottom border-1 border-secondary">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-white">
          <img class="rounded-2" width="80" height="80" src="assets/images/main-ico-2.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars-staggered py-1 text-white fa-lg"></i>
        </button>
       <div class="d-flex align-items-end">
         <i class="fs-6 text-secondary fw-400">Dijital Dünya’da Yalnız Değilsiniz</i>
       </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="home"  routerLinkActive="active-link" class="nav-link">Ana Sayfa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="our-services" routerLinkActive="active-link">Hizmetlerimiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="scrollToElement('aboutUs')" routerLinkActive="active-link">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="scrollToElement('contactUs')">İletişim</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
