.header {
  background-color: var(--generalBg);

  .navbar {
    .container-fluid {
      .navbar-brand {
        font-size: 30px;
        font-weight: 700;
        color: var(--bs-white);
      }

      .navbar-toggler {
        box-shadow: none;
        border: 1px solid white;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            position: relative;
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 2px;
              background: var(--bs-primary);
              transition: width 0.3s ease;
            }

            &:hover {
              color: var(--bs-primary);

              &::after {
                width: 100%;
              }
            }

            &.active-link {
              color: var(--bs-primary);

              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}



