<div class="d-grid home text-white">
  <app-hero></app-hero>
  <div [scrollAnimate]="'animate__fadeInDown'" class="container ">
    <div class="row mx-0 gx-0 gap-30">
      <div class="col-12 col-md d-grid gap-50">
        <div class="border-bottom border-3 border-secondary app-text-primary"><h1>Bize Özel Hizmetlerimizi Öğrenin</h1>
        </div>
        <div>
          <h4 class="fw-600">Web sitenizin başarısı, doğru dijital reklamlardan geçer. İşletmenizin başarısı doğru
            programlardan geçer.</h4>
        </div>
        <div>
          Hizmetlerimiz arasında hedef kitlenizin ihtiyaçlarına uygun reklam stratejileri oluşturma - yönetme ve
          müşterilerinize hitap edecek uygun program ve yazılımlar mevcuttur.
        </div>
        <div>
          <a routerLink="/our-services" class="btn app-primary btn-lg w-100">Daha Fazla</a>
        </div>
      </div>
      <div class="col-12 col-md">
        <img class="img-fluid rounded-2"
             src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      </div>
    </div>
  </div>
  <div [scrollAnimate]="'animate__fadeInDown'" class="container">
    <div class="d-grid gap-30 text-center">
      <div class="border-bottom border-3 border-secondary app-text-primary"><h1>Kapsamlı Dijital Destek</h1></div>
      <div class="text-start">
        <h4>Hedeflerinize ulaşmanıza yardımcı olacak çözümler sunan kapsamlı dijital reklam hizmetlerimiz sayesinde
          işletmenizin online varlığını güçlendirin.</h4>
      </div>
      <div class="row mx-0 gx-0 gap-30 text-start">
        <div class="d-grid gap-10 col-12 col-md inner-content rounded-2">
          <h5 class="fw-700">Dijital Dönüşüm</h5>
          <p>İşletmenizin dijital varlığını güçlendirmek için SEO, sosyal medya yönetimi ve çevrimiçi reklamlarla ilgili
            hizmetler sunuyoruz.</p>
        </div>
        <div class="d-grid gap-10 col-12 col-md inner-content rounded-2">
          <h5 class="fw-700">Programlama Hizmetleri</h5>
          <p>Dijital markanızı güçlendirmek ve hedef kitlenize ulaşmak için özgün ve etkili programlarla işletmenizin
            dijital varlığını geliştiriyor ve size en pratik çözümler sunuyoruz.
          </p>
        </div>
        <div class="d-grid gap-10 col-12 col-md inner-content rounded-2">
          <h5 class="fw-700">Web Tasarımı ve Kullanıcı Deneyimi</h5>
          <p>Profesyonel web tasarım hizmetlerimiz sayesinde işletmenizin dijital varlığını güçlendirecek kullanıcı
            dostu ve göz alıcı bir web sitesi oluşturabiliriz.</p>
        </div>
      </div>
    </div>
  </div>
  <div [scrollAnimate]="'animate__fadeInDown'" class="container">
    <div class="text-center d-grid gap-20">
      <div class="border-bottom border-3 border-secondary app-text-primary"><h1>Neden Biz?</h1></div>
      <h4 class="border py-4 border-secondary rounded-2">İnteraktif ve Dijital Yönetim Sistemleri</h4>
      <div class="row mx-0 gx-0 gap-20 text-start">
        <div class="col-12 col-md rounded-2 p-3 why-we-content">
          <div><h5>Teknolojik Çözümler <i class="fa-solid fa-earth-americas"></i></h5></div>
          <div><p>Kapsamlı ve yenilikçi teknolojik çözümler sunuyoruz. İhtiyaçlarınızı analiz ederek size en uygun olanı
            sunuyoruz.</p></div>
        </div>
        <div class="col-12 col-md rounded-2 p-3 why-we-content">
          <div><h5>Stratejik Planlama <i class="fa-solid fa-bullhorn"></i></h5></div>
          <div><p>Her müşterinin hedef ve ihtiyaçlarına özel planlamalar yapıyoruz. Müşterilerimizle iş birliği içinde
            ortak stratejiler belirliyoruz.</p></div>
        </div>
        <div class="col-12 col-md rounded-2 p-3 why-we-content">
          <div><h5>Müşteri Odaklı Yaklaşım <i class="fa-brands fa-intercom"></i></h5></div>
          <div><p>Müşterilerimizin memnuniyeti bizim önceliğimizdir. Size en iyi hizmeti sunmak için sürekli iletişim
            halinde oluyoruz.</p></div>
        </div>
      </div>


    </div>
  </div>
  <!---
  <div [scrollAnimate]="'animate__fadeInDown'" class="container">
    <div class="text-center d-grid gap-20">
      <div class="border-bottom border-3 border-secondary app-text-primary"><h1>Müşteri Yorumları</h1></div>
      <h4>Müşterilerimizden aldığımız olumlu geri bildirimler</h4>

      <div class="row mx-0 gx-0 gap-20">
        <div class="col-12 col-md border border-secondary rounded-2 py-3">
          <div class="pb-10"><h5><i class="fa-regular fa-comments fa-xl"></i></h5></div>
          <div><p>Sitede reklam yayınlamak için DijitalKarne ile çalıştık ve sonuçlar gerçekten etkileyiciydi.</p></div>
          <div class="text-warning"><h6><i>'Profesyonel ve Verimli'</i></h6></div>
        </div>
        <div class="col-12 col-md border border-secondary rounded-2 py-3">
          <div class="pb-10"><h5><i class="fa-regular fa-comments fa-xl"></i></h5></div>
          <div><p>İşletmemize kitlelere ulaşmak ve satışlarımızı artırmak için DijitalKarne ile çalıştık ve sonuçlar
            beklediğimizden daha iyiydi.</p></div>
          <div class="text-warning"><h6><i>'Başarıya Ulaşmamızda Büyük Rol Oynadılar'</i></h6></div>
        </div>
        <div class="col-12 col-md border border-secondary rounded-2 py-3">
          <div class="pb-10"><h5><i class="fa-regular fa-comments fa-xl"></i></h5></div>
          <div><p>Müşterilere erişmek ve işletmemize marka bilinirliği kazandırmak için DijitalKarne ile çalışmak harika
            bir deneyimdi.</p></div>
          <div class="text-warning"><h6><i>'Profesyonelliklerini ve Adanmışlıklarını Takdir Ediyoruz'</i></h6></div>
        </div>
      </div>

    </div>
  </div>
  --->
  <div id="aboutUs" [scrollAnimate]="'animate__fadeInDown'" class="container">
    <div class="border-bottom border-3 border-secondary app-text-primary text-center mb-10"><h1>Hakkımızda</h1></div>
    <h4><i class="fa-solid fa-arrow-right"></i> DijitalKarne olarak işletmelerin yanındayız <i
      class="fa-solid fa-person-circle-check app-text-primary"></i></h4>
    <p>
      Dijital dünyadaki varlıklarını güçlendirmek isteyen küçük esnaf, şahıs işletmeleri ve şirketleşmemiş girişimler
      için geliştirilmiş, kapsamlı bir dijital değerlendirme ve <b>danışmanlık sistemiyiz</b>. Sunduğumuz Dijital Karne
      hizmetiyle web sitenizden sosyal medya hesaplarınıza, ürün görsellerinizden reklam stratejilerinize kadar tüm
      dijital varlıklarınızı objektif bir biçimde analiz ediyoruz. Bu analizler sonucunda, işletmenizin mevcut durumunu
      ve geliştirilmesi gereken alanları net bir şekilde ortaya koyarak sizi dijital dünyada daha görünür ve rekabetçi
      kılıyoruz.
    </p>

    <hr>

    <p>
      <b>Yazılım geliştirme</b>, <b>dijital varlık yönetimi</b> ve <b>otomasyon</b> alanlarındaki uzmanlığımızla, her
      kullanıcıya özel olarak
      hazırlanan ve veriye dayalı analizlerle desteklenen bu sistemi sürekli olarak geliştiriyoruz. Amacımız, ölçme ve
      değerlendirme odaklı yaklaşımımızı yapay zekâ entegrasyonu ile birleştirerek, işletmenize özel dijital stratejiler
      ve otomasyon çözümleri sunmaktır. Kısacası, internette daha güçlü olmak isteyen tüm işletmeler için güvenilir bir
      dijital kılavuz ve çözüm ortağıyız.
    </p>
  </div>
  <app-faq></app-faq>
  <app-contact-us></app-contact-us>
</div>


