.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .top-title {
    font-size: 70px;
  }

  .sub-title {
    font-size: 30px;
  }

  @media screen and (max-width: 991px) {
    height: auto;
    padding: 100px 0 100px 0;
  }

  .info-container {
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out border;

    &:hover {
      border: 1px solid var(--bs-gray-600);
    }

    .info-area {
      padding: 10px;
      border: 1px solid var(--bs-gray-700);

      transition: 0.2s ease-in-out border;


    }
  }
}

