<div [scrollAnimate]="'animate__zoomInUp'" class="hero">
  <div class="container">
    <div class="row mx-0 gx-0 gap-20">
      <div class="col-12 col-md">
        <div class="mb-20">
          <h1 class="fw-700 fs-40">DİJİTAL KARNENİZİ ALIN</h1>
          <h3>Dijital Dünyada'da neredeseniz?</h3>
        </div>
        <h4>Değerlendirmenizi yapalım <span class="text-warning">en iyi potansiyelinizi</span> ortaya çıkaralım.</h4>
        <div class="mt-20">
          <button class="btn app-primary w-100 btn-lg px-5">Şimdi Başla</button>
        </div>
      </div>
      <div class="col-12 col-md-7 info-container rounded-2 mt-md-1">
        <div class="mb-20"><h2>Firmamızdan Faydalanan İşletmeler</h2></div>

        <div class="row mx-0 gx-0 gap-20">
          <div class="col-12 col-md-5 info-area rounded-2 d-grid gap-10">
            <div class="text-secondary fw-500 fs-5">İşletme Sahipleri</div>
            <div><h2 class="">11</h2></div>
          </div>
          <div class="col-12 col-md-5 info-area rounded-2 d-grid gap-10">
            <div class="text-secondary fw-500 fs-5">Küçük İşletmeler</div>
            <div><h2 class="">2</h2></div>
          </div>
          <div class="col-12 col-md-5 info-area rounded-2 d-grid gap-10">
            <div class="text-secondary fw-500 fs-5">Orta Ölçekli İşletmeler</div>
            <div><h2 class="">2</h2></div>
          </div>
          <div class="col-12 col-md-5 info-area rounded-2 d-grid gap-10">
            <div class="text-secondary fw-500 fs-5">Büyük Kurumlar</div>
            <div><h2 class="">1</h2></div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
