/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/bootstrap-variables";
@import "./assets/styles/helpers";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";


$generalBg: rgb(19, 25, 35);

:root {
  --generalBg: #{$generalBg};
}

html {
  body {
    background-color: var(--generalBg);
  }
}

.btn {
  &.app-primary {
    border-radius: 4px;
    color: #fff;
    background-image: linear-gradient(to right, #007bff, #00c6ff);
    box-shadow: 4px 4px 15px rgba(0, 123, 255, 0.4);
    transition: all 0.3s ease;

    &:hover {
      background-image: linear-gradient(to right, #0056b3, #0099cc);
      box-shadow: 0 6px 20px rgba(0, 123, 255, 0.6);
    }
  }
}

.app-text-primary {
  color: #00c6ff;
}
