/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/bootstrap-variables";
@import "./assets/styles/helpers";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

$generalBg: rgb(19, 25, 35);

:root {
  --generalBg: #{$generalBg};
}

html {
  body {
    background-color: var(--generalBg);
  }
}
