<div [scrollAnimate]="'animate__fadeInDown'" class="our-services">
  <div class="container">
    <h1 class="fw-600 border-bottom border-3 border-secondary app-text-primary mb-20">HİZMETLERİMİZ</h1>
    <div class="row mx-0 gx-0 gap-10">
      <div class="col-12 col-md card-blur rounded-2 d-flex flex-column justify-content-between">
        <div>
          <h4 class="fw-600 border-bottom border-1 border-secondary pb-10">DİJİTAL VARLIK YÖNETİMİ</h4>
          <p class="text-secondary fw-500">
            <i>Dijital varlıklarınızın yönetimini devralıyor; aylık veya haftalık olarak raporlandırıyor, dijital
            görüntünüzü geliştirmek için uzman kadromuzla çalışmalar yürütüyoruz.
          </i>
          </p>
          <ul>
            <li>Sosyal Medya Hesapları (ADS ve Hesap Yönetimi)</li>
            <li>Google Hesapları (ADS ve Hesap Yönetimi)</li>
            <li>E-Ticaret Yönetimi (Ürün Listeleme, ADS işlemleri)</li>
            <li>Website SEO Çalışması</li>
            <li>Günlük 1 Gönderi (Post,Reels) 3 Hikaye</li>
            <li>Profesyonel Sosyal Medya Çekimleri (Ek Ücretlendirme içerir)</li>
          </ul>
        </div>
        <div class="mt-20">
          <a href="https://wa.me/9005513912571" target="_blank" class="btn app-primary w-100 rounded-5">Bilgi Al</a>
        </div>
      </div>
      <div class="col-12 col-md card-blur rounded-2 d-flex flex-column justify-content-between">
        <div>
          <h4 class="fw-600 border-bottom border-2 pb-10">OTOMASYON SİSTEMLERİ</h4>
          <p class="text-secondary fw-500">
            <i>
              Otomasyon Sistemlerimiz ile İşletmenizdeki işlemleri hızlandırıyor ve sizlere İşletmenin Gelişmesinde Hız Kazandırıyoruz.
            </i>
          </p>
          <ul>
            <li>Müşteriye Erişimi Kolaylaştıran Otomasyonlar</li>
            <li>Sipariş, Randevu, Website için Hızlı Çözümler</li>
            <li>Müşterilere Otomatik Ulaşım ve Takip Sistemleri</li>
            <li>Yapay Zeka Chat-bot (Sosyal Medya veya Site)</li>
            <li>Takip ve Güncelleme Devamlılığı</li>
            <li>QR Menü, Afiş, Fiziki Menü Sistemleri</li>
          </ul>
        </div>
        <div class="mt-20">
          <a href="https://wa.me/9005513912571" target="_blank" class="btn app-primary w-100 rounded-5">Bilgi Al</a>
        </div>
      </div>
      <div class="col-12 col-md card-blur rounded-2 d-flex flex-column justify-content-between">
        <div>
          <h4 class="fw-600 border-bottom border-2 pb-10">YAZILIM HİZMETLERİ</h4>
          <p class="text-secondary fw-500">
            <i>
              Uzman Yazılım kadromuzla İşletmelerin ihtiyaçlarına göre program tasarlıyor ve her türlü yazılım hizmetlerine imkan sunuyoruz.
            </i>
          </p>
          <ul>
            <li>İşletmeye Özel Program ve Yazılım Geliştirme</li>
            <li>Takip ve Güncelleme Devamlılığı</li>
            <li>Teknik Destek ve 7/24 Online Hizmet</li>
            <li>Website Tasarlama ve Geliştirme</li>
            <li>İşletme İçi İletişim ve Takip Programı Geliştirme</li>
          </ul>
        </div>
        <div class="mt-20">
          <a href="https://wa.me/9005513912571" target="_blank" class="btn app-primary w-100 rounded-5">Bilgi Al</a>
        </div>
      </div>
    </div>
  </div>
</div>
